body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 1000px;
    margin: auto;



}

header,
footer {
    display: flex;
    justify-content: space-around;

}

/*HEADER*/

a {
    text-decoration: none;
    color: #0a2640;
    padding: 10px 5px;
}

.LI {
    border: 1px solid #0a2640;
    border-radius: 40px;
    width: 50%;
    margin: auto;
    text-decoration: none;
}

/*MAIN*/
main {
    max-width: 1000px;
   
    margin: auto;
}

/*section1*/

.s1 .p2 {
    word-wrap: break-word;

}

h4,
h1 {
    text-align: center;
    font-weight: 100;
}

.div2 {
    display: flex;
    justify-content: space-around;
    flex: 100px;
}

.d1 {
    height: 50%;
    width: 50%;
    float: right;
}

.img {
    width: 30%;

}

h1 {
    font-size: 30px;

}

hr {
    width: 90%;
}

/*section2*/



.div {
    display: flex;
    justify-content: space-around;
    padding-left: 150px;
}

.h2 {
    font-size: 30px;
    font-weight: 100;
}

.d1 {
    height: 50%;
}

.p1 {
    color: #0a2640;
    opacity: 1;
    font-weight: 700;
    font-size: 10px;
}

.p1 span {
    opacity: 0.5;
    font-weight: 200;
}

.p2 {
    font-size: 20px;
}

.img1 {
    width: 70%;
}

.d3 {
    text-align: center;
    margin: 20px;
}

.d3 a {
    border: 1px solid #0a2640;
    border-radius: 50px;
    margin: 20px;
    padding: 8px 20px;
    font-weight: 700;
    font-size: 15px;

}

/*Fieldset*/

fieldset {
    background: #0a2640;
    border: 0px;
    border-radius: 5px;
    margin: 70px auto;
    width: 90%;

}

.d4 {
    text-align: center;
    padding: 20px;

}

form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.p3 {
    font-size: 40px;
    color: white;
}

input {
    padding: 10px 30px;
    border-radius: 50px;
    margin: 10px auto;
    border: 0px;
}


.h1 {
    border: 2px solid blue;
    border-radius: 50px;
    padding: 10px;
    text-decoration: none;
    background-color: #65E4A3;
    padding-left: 30px;
    padding-right: 30px;
    border-color: transparent;
}



/*FOOTER*/
footer p {
    opacity: 0.5;
    font-weight: 200;
}

.img2 {
    width: 25%;
}

.d2 {
    display: flex;
    justify-content: space-evenly;
    gap: 18px;
}

.d2 p {
    opacity: 1;
}

.n1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    opacity: 0.8;
}

#Careers::after {
    content: "hiring";
    border: 1px solid transparent;
    background: #65E4A3;
    border-radius: 50px;
    margin-left: 5px;
    padding: 1px 5px;
}

@media screen and (max-width:900px) {

    body {
        text-align: center;
    }

    header,
    footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
    }

    header {
        text-align: center;
    }

    a {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .LI {
        width: 20%;
        margin: auto;
    }

    .div2{
        display: flex;
        flex-direction: column;
        flex: 100px;
        padding-left: 40%;
        
    }
     .div1 {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .s1 .img{
        width: 50%;
    }
    .div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .d3 a {
        border: 1px solid #0a2640;
        border-radius: 50px;
        margin: auto;
        width: 20%;
        font-weight: 700;
        font-size: 15px;

    }

}